* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

.experience {
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}